html,
body {
  width: 100%;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  letter-spacing: 0.2px;
  color: #202124;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* sets the style of my body tag*/
body {
  margin: 0;

  font-size: 100%;

  font-size: 14px;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  letter-spacing: 0.2px;

  color: #393e46;
}

/** sets the style Mail in EPIC Mail */
.mails {
  color: #202124;
  font-family: 'sarabun';
}

.mail {
  color: #fff;
  font-family: 'sarabun';
  font-size: 1.1em;
}

/** span tag is used to style the E in EPIC */
span {
  color: #ffaf30;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  letter-spacing: 0.2px;
  font-size: 0.97em;
}

.email {
  color: #ffaf30;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  letter-spacing: 0.2px;
  font-size: 0.79em;
}

/* sets display of my container content to flex */
.container {
  width: 100% !important;
  display: flex;
  height: calc(100vh);
}

.sub_header {
  padding: 5px;
  font-size: 16px;
}

/* sets a style for the header class */
.header {
  color: #202124;
  padding: 15px;
  font-weight: bold;
  color: #ffaf30;
  cursor: pointer;
  font-size: 1.5rem;
}

/*  set login__wrapper to a width of 30% */
.login__wrapper {
  width: 30%;
  padding: 15px;
  text-align: center;
  margin: 0 auto;

  border: 1.5px solid #eee;
  border-radius: 5px;
}
/* sets wrapper to a width of 70% and addd a background image */
.wrapper {
  width: 70%;
  background: url('../images/buckets.jpg') no-repeat center/cover;
}

/* Add padding to login_container */
.login_container {
  padding: 16px;
}
.link {
  text-decoration: none;
  color: #ffaf30;
}

/* Full-width input fields */
input[type='text'],
input[type='password'],
input[type='tel'],
input[type='email'],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
  transition: 1s;
}


input[type='text']:focus,
input[type='password']:focus,
input[type='tel']:focus,
input[type='email']:focus,
textarea:focus {
  background-color: #ddd;
  border: 0px;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #eee;
  margin-bottom: 25px;
}

.top-content {
  padding: 18px;
  position: fixed;
  background: #f4f4f4;
  width: 100%;
  z-index: 3;
  border-bottom: 2px solid #d4d0d0;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}


.fa-redo-alt {
  width: 30%;
  margin-left: 10px;
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.904);

  text-align: left;
}

/**#ffaf30;**/
/* Set a style for the submit/login button */
.loginbtn,
.registerbtn {
  background-color: #6272b8;
  color: white;
  padding: 8px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 3px;
  font-size: 20px;
}

.forgot__password,
.signup {
  font-size: 20px;
}
.send_message__btn,
.reset_name__btn {
  background-color: #6272b8;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
  border-radius: 3px;
}

.recover__password {
  display: none;
}

.draft_message__btn {
  background-color: #6272b8;
  color: white;
  padding: 16px 7px;
  margin: 8px 4px;
  border: none;
  cursor: pointer;
  width: 35%;
  opacity: 0.9;
  border-radius: 3px;
  flex-grow: 1;
}

.actionbtn {
  color: #1433c4;
  cursor: pointer;
}

.actionbtn:focus {
  outline: none;
}

.loginbtn:hover,
.send_message__btn:hover,
.draft_message__btn:hover,
.reset_name__btn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signup {
  text-align: center;
}

/* improve mobile responsiveness with media query*/
@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 50%;
  }

  .login__wrapper {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .wrapper {
    width: 0%;
  }

  .login__wrapper {
    width: 100%;
  }

}

/** user dashboard styling */

.header__container {
  width: 100%;
  display: flex;
  padding: 0px 5px;
  justify-content: space-between;
  /* background: #eee; */
  background: #6272b8;
  position: fixed;
  border-bottom: 2px solid #ffaf30;
  flex-wrap: wrap;
  z-index: 1000;
}

.logo {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  width: 10%;
  box-sizing: border-box;
  padding: 9px 0px;
  font-family: 'sarabun';
  font-weight: bolder;
  font-weight: 5em;
  font-size: 20px;
  color: #fff;
  margin-left: 0px;
}


.main {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;

  min-height: calc(100vh);
}



.main__body {
  min-width: 100%;
  /* background: #f4f4f4; */
  padding: 70px 0px 10px 0px;
  box-sizing: border-box;
  overflow: auto;

  background: #f4f4f4;
}

.buckets {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin-bottom: 10px;
  list-style-type: none;
  margin: 10px;
  max-height: calc(68vh);
  margin-top: 91px;
  overflow: scroll;
}

@media only screen and (max-width: 802px){
.buckets {
    margin-top: 90px;
}
}
.top__navs {
  display: block;
}

.main__body__height {
  margin-top: 220px;
}


@media only screen and (max-width: 700px) {
  .main__body {
    margin-top: 95px;
    padding-top: 0px;
  }

  .main__body__height {
    margin-top: 1290px;
  }
  .navbar {
    width: 39%;
    box-sizing: border-box;
    padding: 20p 0px;
    font-family: 'sarabun';
    font-weight: bolder;
    font-weight: 5em;
    font-size: 20px;
    color: #fff;
  }

  .dropdown-content {
    padding-right: 40px;
    width: 10px;
  }
}

@media only screen and (max-width: 802px) {


  .nav {
    width: 0%;
    display: none;
  }

  .main__body {
    width: 100%;
    margin-left: 0%;
    margin-top: 50px;
  }
  .main__body__height {
    margin-top: 500px;
  }
  .main__body__height2 {
    margin-top: 570px;
  }
  .navbar {
    width: 39%;
    box-sizing: border-box;
    padding: 10px 0px;
    font-family: 'sarabun';
    font-weight: bolder;
    font-weight: 5em;
    font-size: 20px;
    color: #fff;
  }

  .message_container {
    width: 90%;
    background: #f1f1f1;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
  }
  .top-content {
    margin-top: 14px;
  }
}

.compose {
  padding: 20px;
}

.compose__message_wrapper {
  text-align: left;
}

.compose__message_btn {
  border-radius: 20px;
  padding: 10px;
  background: #ffaf30;

  text-align: center;
  color: rgba(0, 0, 0, 0.904);
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Sarabun';
  font-weight: bolder;
  border: 2px solid #d4d0d0;
}

.compose__message_btn:hover, .bucketCard:hover{
  opacity: 0.9;

  transform: scale(1.05, 1.05);
  transition: transform 0.3s linear;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}



.users {
  margin-bottom: 25px;
}

.epic {
  display: inline-block;
}

.from {
  display: inline-block;
}

.plus__icon {
  display: inline-block;
  color: #6272b8;
  padding: 0px 5px;
}

.compose__message_btn {
  display: inline-block;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  letter-spacing: 0.2px;
  font-weight: normal;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.user {
  display: inline-block;
}

.dropdown_label {
  width: 10%;
  text-align: right;
}

.contact_mail {
  width: 20%;
  display: inline-block;
  font-size: 17px;
}

.dropbtn {
  font-size: 16px;
  border: none;
}

.dropdown_label {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 98px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown_label:hover .dropdown-content {
  display: block;
}

.nav_name {
  display: inline-block;
}

.note a {
  border: 2px solid #6272b8;
  background: #ffaf30;
  padding: 12px;
  text-decoration: none;
  border-radius: 4px;
  font-family: 'Comic Sans MS';
  font-size: 20px;
  width: 50%;
  text-align: center;
  color: #f8f8f8;
}

.get_started:hover,
.note a:hover {
  opacity: 0.9;

  transform: scale(1.05, 1.05);
  transition: transform 0.3s linear;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.header__container_index {
  width: 100%;
  display: flex;
  padding: 0px 5px;
  justify-content: space-between;
  /* background: #eee; */
  background: #6272b8;

  flex-wrap: wrap;
}

.pic {
  text-align: center;
  margin-top: 50px;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  font-size: 25px;
  color: #f8f8f8;
  text-align: center;
  width: 100%;
  animation: jump 9s linear infinite;
}

.main_landing {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  min-height: calc(100vh);
}

.note {
  padding: 20px 100px;
  color: #f8f8f8;
  font-family: 'Comic Sans MS';
  font-size: 90%;
  line-height: 1.5;
  opacity: 0.9;
}

.epic {
  color: #ffaf30;
  font-family: 'Comic Sans MS';
  font-size: 0.99em;
  font-weight: bolder;
}

@keyframes jump {
  0% {
    top: 200px;
  }
  50% {
    top: 180px;
  }
  100% {
    top: 200px;
  }
}

.spinner_overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.spinner-icon path {
  stroke-width: 3px;
  stroke-dasharray: 36.299235026041664, 72.59847005208333;
  -webkit-animation: wistia_dash 1.2s infinite linear forwards;
}

.spinner-icon-container {
  height: 80px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
}
@-webkit-keyframes wistia_dash {
  from {
    stroke-dashoffset: 108.897705078125;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.btnspinner {
  animation: 2s ease-in-out infinite spin;
}

#spinbtn,
#spinbtn2 {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.create {
  cursor: pointer;
}


button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.first {
  width: 20%;
  border-radius: 20px;
  padding: 10px;
  background: #d4d0d0;

  text-align: center;
  color: rgba(0, 0, 0, 0.904);
  box-sizing: border-box;
  font-family: 'Sarabun';
  font-weight: bolder;
  border: 1px solid #ffaf30;
  outline: 0;
}

.card {
  margin-bottom: 14px;
}

.btn {
  background-color: #6272b8 !important;
  margin-bottom: 5px;
}

.card-title {
  font-family: roboto;
  font-weight: bolder;
}

@media (min-width: 1200px){
.container {
    max-width: 100% !important;
}
}
@media (min-width: 992px){
.container {
    max-width: 100% !important;
}}
@media (min-width: 768px){
.container {
    max-width: 100% !important;
}}
@media (min-width: 576px){
.container {
    max-width: 100% !important;
}}
.container {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}
.container {
    width: 100% !important;
    display: flex;
    height: calc(100vh);
}

input.inps {
  margin: 0px;
}

.create_btn:hover {
  background-color: green !important;
}

.cancel_btn:hover {
  background-color: #dc3545 !important;
}

button.close span {
  color: #df0e23 !important;
}

.SingleList{
  display: flex;
  justify-content: space-evenly;
}

.paginate-box {
  width: 47%;
  text-align: center;
  margin-left: 43%;
}

@media only screen and (max-width: 802px){
  .paginate-box {
      margin-left: 30%;
  }
}

.dropdown {
  margin-bottom: 0px;
}